.top-small-txt{
	text-transform: uppercase;
	font-size: 10px;
	color: #a7a7a7;
}
.title-heading{
	color: #000000;
  font-family: "Open Sans";
  font-size: 52px;
  font-weight: bold;
  letter-spacing: -2.68px;
  line-height: 66px;
}
.course-title{
	font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
}