body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading-primary {
  color: #21154A;
  font-weight: 600;
}

.heading-secondary {
  color: #B07882;
  font-weight: 600;
}

.heading-tip {
  color: #787D0F;
  font-weight: 600;
}

.heading-trap {
  color: #820D30;
  font-weight: 600;
}

.heading-example {
  color: #004D68;
  font-weight: 600;
}

.primary-color-1 {
  color: #21154A
}

.primary-color-2 {
  color: #B07882
}

.primary-color-3 {
  color: #EDE8E8
}

.primary-color-4 {
  color: #AD8000
}

.secondary-color-1 {
  color: #AD8000
}

.secondary-color-2 {
  color: #820D30
}

.secondary-color-3 {
  color: #004D6B
}

.secondary-color-4 {
  color: #787D0F
}

.secondary-color-5 {
  color: #B570B0
}

.highlight-color-1 {
  color: #E8B066
}

.highlight-color-2 {
  color: #E56682
}

.highlight-color-3 {
  color: #6BA6AD
}

.highlight-color-4 {
  color: #94B263
}

.highlight-color-5 {
  color: #CFB0B5
}