.top-small-heading{
  color: #9D9A9A;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.41px;
  line-height: 24px;
}
.bottom-title-txt{
  text-transform: capitalize;
  color: #000000;
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 30px;
}
.questions-count-panel {
  color: #000000;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.41px;
  line-height: 24px;
  text-align: right;
}
.content-container {
  padding-top: 1em;
  font-family: 'Open Sans';
  .course-title {
    position: absolute;
    top: -27px;
    font-size: 10px;
    font-weight: 600;
    left: -15%;
    right: auto;
    transform: translateX(-15%);
    text-transform: capitalize;
    width: 75px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    flex-direction: column;
    color: #000000;
  }
  .item-tooltip-container {
    &.unlocked-item {
      &::after {
        content: " ";
        display: block;
        position: absolute;
        z-index: 0;
        top: 55%;
        transform: translateY(-55%);
        left: 5px;
        right: 0;
        height: 2px;
        color: #fff;
        background-color: #646464;
      }
      & svg path:nth-child(1){
        fill: #24124d;
      }
    }
    &.locked-item {
      position: relative;
      &::after {
        position: absolute;
        content: " ";
        display: block;
        position: absolute;
        z-index: 1;
        top: 55%;
        transform: translateY(-55%);
        left: 20px;
        right: 5px;
        height: 2px;
        color: #fff;
        background-color: #ececec;
      }
      .course-title{
        color: #CCCCCC;
      }
      &:last-child{
        &::after {
          display: none;
        }
      }
    }
  }
  .item-btn {
    position: relative;
    z-index: 2;
    float: left;
    width: 30px;
    display: block;
    height: 30px;
    & > span{
      display: flex;
      max-width: 40px;
      text-align: center;
      height: 30px;
      align-items: center;
    }
    &.locked-item-link {
      background-color: #fff;
      opacity: 1;
      pointer-events: none;
    }
  }
  .timeline-item-wrapper {
    p.current-item-pointer {
      position: absolute;
      left: -3%;
      flex-wrap: nowrap;
      white-space: nowrap;
      transform: translateX(-3%);
      bottom: -31px;
      color: #21154A;
      font-size: 12px;
      letter-spacing: -0.32px;
    }
    .item-tooltip-container {
      position: relative;
      flex-grow: 1;
      &:first-child {
        p.current-item-pointer {
          left: 0 !important;
          transform: translateX(0%);
        }
      }
      &:last-child {
        flex-grow: 0;
        height: 29px;
        p.current-item-pointer {
          // left: unset;
          right: -10px;
          left: -30%;
          transform: translateX(-30%);
        }
        .current-item-title.course-title{
          left: -25%;
          transform: translateX(-25%);
        }
      }
    }
  }
  .question-block {
    margin-top: 3.5em;
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.89px;
    line-height: 27px;
    text-align: center;
    padding-bottom: 1.5em;
    font-weight: 600 !important;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 2.5em;
  }
  .answer-block {
    padding: 12px 16px !important;
    div{
      font-size: 15px;
      font-weight: 600;
      color: #000000 !important;
    }
  }
  .goBack-btn {
    color: #21154A;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    background: transparent;
    border: 0;
    margin-right: 1em;
    &::first-letter{
      text-transform: uppercase;
    }
  }
  .goBack-btn:focus,
  .goBack-btn:active {
    box-shadow: none !important;
    outline: 0;
    background-color: #fff !important;
    border: 0;
  }
  .goContinue-btn {
    border-radius: 25px;
    font-weight: 600;
    font-size: 11px;
  }
}

/*---------------Progress Bar------------------------*/
#progressInput {
  margin: 20px auto;
  width: 30%;
}

.circle-background,
.circle-progress {
  fill: none;
}

.circle-progress {
  stroke: #21154A;
  stroke-linecap: square;
  stroke-linejoin: inherit;
  stroke-width: 6px;
  border-radius: 0;
  // stroke-width: 11px;
}

.circle-text {
  font-size: 3em;
  font-weight: bold;
  fill: #2c2e2f;
}
.outer-circle {
  display: inline-block;
  border-radius: 100%;
  height: 37px;
  width: 37px;
  position: absolute;
  top: -3px;
  left: -1px;
  right: 0;
  background: #21154A;
  z-index: 2;
  box-shadow: 0 0 16px rgba(33, 21, 74, 0.8);
  &::before{
    content: '';
    position: absolute;
    left: 50%;
    background: #fff;
    top: 50%;
    width: 10px;
    height: 10px;
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }
  &::after{
    content: '';
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    border: 6px solid #fff;
    border-radius: 100%;
    z-index: 1;
  }
  svg {
    width: 100%;
    height: 100%;
    z-index: 5;
    position: relative;
    border-radius: 100%;
  }
}
.question-answer-block{
  max-width: 80%;
  margin: 0 auto;
}
.current-item-title.course-title{
  color: #000000 !important;
  left: 20%;
  transform: translateX(-20%);
}