.react-table-common {
  border: 1px solid #e6e6e6;
  .th {
    background-color: #fafafa;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    color: #a8a8a8;
  }
  .td{ 
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-left: 0;
    border-right: 0;
  }
  .td, th{
    padding: 0.5em 0.75em !important;
  }
  .sort-icon {
    width: 15px;
    opacity: 0.3;
    margin-left: 7px;
  }
}