.loader {
  border: 0;
  top: 44%;
  position: relative;
  left: 44%;
}

.loader-overlap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background: rgba(255, 255, 255, 0.5);
}

.input-loader-container {
  height: auto;
  position: absolute;
  background: #fff;
  margin-bottom: 7px;
  z-index: 99;
  top: 6px;
  right: 1px;

  .loader {
    height: 20px;
    width: 20px;
    top: 0px;
    left: -8px;
  }
}
